.rejectpane {
  width: 50%;
  margin: 30px auto;
  border: 5px solid red;
  background-color: lightcoral;
  border-radius: 5px;
  display: block;
}

.rejectup {
  font-size: 3em;
  text-align: center;
  color: red;
}

.reject {
  font-size: 6em;
  text-align: center;
  color: darkred;
}