.main {
  margin: 0 auto;
  width: max-content;
}

.image {
  width: 200px;
  height: 200px;
  padding-left: 150px;
}

.button {
  height: 50px;
  width: 500px;
  font-size: 2em;
  border-radius: 5px;
  background-color: whitesmoke; 
}