body {
  background-image: url("alien.png");
  background-repeat: no-repeat;
  background-position: right 175%;
}

.image {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  padding-right: 100px;
  display: block;
}

